{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="ui middle aligned grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <form method="post" action="{% url 'login' %}" class="ui large form">
        {% csrf_token %}
        <div class="ui clearing segment">
          <h3>Admin Log-in</h3>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="{{ form.username.html_name }}" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="{{ form.password.html_name }}" placeholder="Password">
            </div>
          </div>
          {% if form.errors %}
            <div class="ui negative icon message">
              <i class="exclamation icon"></i>
              <div class="content">
                <div class="header">Details not recognised:</div>
                Username and password provided do not match. Please try again.
              </div>
            </div>
          {% endif %}
          <input type="submit" class="ui right floated large blue submit button" value="Login" />
          <input type="hidden" name="next" value="{{ next }}" />
          <a class="ui large button left floated" href="{% url 'index' %}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
